#introduction {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 1em;
  padding-bottom: 0;
  padding-top: 70px;
}
#wrapperlicious {
  max-width: 1300px;
  margin: 0 auto;
}
.box {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  overflow: hidden;
  padding: 4em;
}
.spaced {
  margin-left: 5em;
  margin-right: 5em;
}

/* Clear floats after the columns */
.photo-row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  
}
/* Create two equal columns that sits next to each other */
.photo-column {
  float: left;
  width: 48%;
  padding: 10px;
  
}

.photo-column img {
  margin-top: 8px;
}

.undecorated { text-decoration: none }